/*CSS de Alvaro Martin Bazan*/
/*Aqui he introducido un margen y pading 0 a todas las paginas*/
*{
  margin:0px;
  padding:0px;
}
/*He puesto una class fondo para el body de about us y que tenga esta imagen*/
/*Esta parte introduce un fondo con imagen al background*/
.fondo {
  background-image: url("imagenFondo.jpg");
  background-repeat:no-repeat;
  background-size:100%;
  background-attachment: fixed;
}

footer{
  background-color: white;

}
table {
  align-content: center;
  border:1px;
  -webkit-box-shadow: 0px -2px 15px 5px #000000;
  box-shadow: 0px -2px 15px 5px #000000;

}
