<<<<<<< HEAD

*{
	margin: 0;
	padding: 0;
}

form {

	/*border :1px solid black;*/
	width: 100%;
	height: auto;
	padding: 1em;
	margin-top: 20px;
	margin-bottom: 20px;
	margin-left: 20px;

}

.formulary {

	border: 0.5px solid black;
	border-radius: 15px;
	background-color: #C9DCCC;
	padding: 1em;
	display: block;
	width: 300px;
	
}

.form__name{

	/*border: 1px solid black;*/
	margin-bottom: 0.5em;
	font-weight: bold;
	font-size: 1.5vw;

}

.form__input {

	border: 1px solid black;
	border-radius: 6px;
	background-color: #E6E1E0;
	padding: 0.5em;
	display: block;
	margin-left: 2em;
	margin-bottom: 1em;
}

span {

	visibility: hiden;
	margin: 1em;
	width: 120px;

}span:hover {

	visibility:  visible;
}

.div__bot {

	/*border: 1px solid black;*/
	display: flex;
	margin:  auto;
	width: 300px;
}

.form__select {

	/*border: 1px solid black;*/
	border-radius: 6px;
	border: 1px solid black;
	background-color: #E6E1E0;
	padding: 0.5em;
	margin: auto;

}

button {

	border: 1px solid black;
	padding: 0.5em;
	font-weight: bold;
	font-style: default;
	cursor:  pointer;
	margin: auto;
	transition: transform 1s;

	}button:hover{

		transform: scale(0.95);
		background-color: white;
	}
=======
hola mundo
>>>>>>> 227c59ea9ea2cb44cbecf1c8bdca1435b8c1c06a
