

* {
	margin: 0;
	padding: 0;
}

form {

	/*border :1px solid black;*/
	width: 100%;
	height: auto;
	padding: 1em;
	margin-top: 20px;
	margin-bottom: 20px;
	margin-left: 20px;

}

.formulary {

	border: 0.5px solid black;
	border-radius: 15px;
	background-color: #C9DCCC;
	padding: 1em;
	display: block;
	width: 350px;
	
}

.form__name {

	/*border: 1px solid black;*/
	font-weight: bold;
	font-size: 2vw;
	cursor: default;

}

.icon__imput {

	margin-top: 5px;
	margin-left: 25px;
	/*border: 1px solid black;*/
	display: -ms-flexbox;
	width: 100%;
	right: 0;
	justify-content: space-between;
		

	/*margin-bottom: 15px;*/

}


.form__input {

	border: 1px solid black;
	border-radius: 6px;
	background-color: #E6E1E0;
	padding: 0.5em;
	/*display: block;*/
	/*margin-top: 0.5em;*/
	/*margin-left: 2em;*/
	margin-bottom: 1em;
	transform: 0.5s;

}.form__input:hover{

	border: 2px solid black;
	transform: scale(1.05);
}


/* ToolTip classses */ 

.tooltip .tooltiptext {		/*Creacion contenedor y transparencia*/

    width: auto;
    visibility: hidden;
    opacity: 0;
    font-style: italic;
    background-color: #F769DF;
    border-radius:5px;
    border: 1px solid grey;
    border-radius: 3px;
    position: absolute;
    padding: 5px;
    z-index: 1;
    margin-top: 3px; 
    margin-left: 10px;
    transition: opacity 1s;

}.tooltip .tooltiptext::after {				/*Efecto de delante del contendor*/

  	content: "";
  	position: absolute;
  	top: 50%;
  	right: 100%;
  	margin-top: -7px;
  	border-width: 7px;
  	border-style: solid;
  	border-color: transparent #F769DF transparent transparent;

}.tooltip:hover .tooltiptext {	/*Para poder ver el contenedor*/
    visibility: visible;
    opacity: 1;
}

.div__bot {

	/*border: 1px solid black;*/
	display: flex;
	justify-content: space-between;
	margin: auto;
	width: auto;
	height: auto;
}

.form__select {

	/*border: 1px solid black;*/
	border: 1px solid black;
	border-radius: 6px;
	background-color: #E6E1E0;
	padding: 0.5em;
	/*display: block;*/
	/*margin-right: auto;*/
	cursor: pointer;

}

button {

	border: 1px solid black;
	padding: 0.5em;
	font-weight: bold;
	font-style: default;
	cursor:  pointer;
	/*display: block;*/
	/*margin-left: auto;*/
	transition: transform 1s;

}button:hover {
	transform: scale(0.95);
	background-color: white;
}

