/*
font-family: ;
font-size: ;
font-weight: ;
font-style: ;
font-variant: ;

text-align: ;
text-indent: ;
text-decoration: ;
text-transform: ;

letter-spacing: ;
word-spacing: ;
line-height: ;
white-space: ;
*/

.H1 {
    font-family: Bad Script;
    font-size: ;
    font-weight: ;
    font-style: ;
    font-variant: ;

    }

.body{
    font-family: ;
    font-size: ;
    font-weight: ;
    font-style: ;
    font-variant: ;

    }

/*Google Fonts*/
.article{
    font-family: ;
    font-size: ;
    font-weight: ;
    font-style: ;
    font-variant: ;

    }
/* Con esta parte controlamos la parte de los enlaces.*/
/* Enlace sin visitar */
a:link {
    color: blue;
    }

/* Enlace  visitado */
a:visited {
    color: skyblue;
    }

/* Raton sobre el enlace */
a:hover {
    color: red;
    }

/* Mientras pinchas el enlace */
a:active {
    color: pink;
    }


